<%-- Header (navigate bar) --%>

<%@ include file="/WEB-INF/jspf/directive/page.jspf"%>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf"%>
<!---start-header---->
<div class="header">
	<div class="wrap">
		<!---start-logo---->
		<div class="logo">
			<a href="index.jsp"><img src="${app}/web/images/logo.png"
				title="logo" /></a>
		</div>
		<div class="top-search-bar">
				<div class="header-top-nav">
					<ul>				
					<li><a href="registration.jsp"> Registration </a></li>				
					<li class="last"><a href="login.jsp">
						Log in </a></li>
					</ul>
				</div>
		</div>
		
		<!---end-logo---->
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="header-nav">
	<div class="wrap">
		<div class="left-nav">
			<ul>
				<li><a href="index.jsp">Home</a></li>
				<li><a href="">About us</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!---start-search---->
</div>
<!---end-header---->
